
<div *ngFor = "let employee of employees">
    Employee Id : {{employee.id}}
    <br/>
    Employee Name : {{employee.name}}
    <br/>
    Employee Salary : {{employee.salary}}
    <br/>
    <img [src]="employee.pic" alt="No pic for you." height="150" width="150"/>
</div>

<select (change)="empChange(eid.value)" #eid>
    <option>Select Employee ID</option>
    <option *ngFor = "let employee of employees" [value]="employee.id">{{employee.id}}</option>
</select>
<div *ngIf="selectedEmployee.id">
    Employee Id : {{selectedEmployee.id}}
    <br/>
    Employee Name : {{selectedEmployee.name}}
    <br/>
    Employee Salary : {{selectedEmployee.salary}}
    <br/>
    <img [src]="selectedEmployee.pic" alt="No pic for you." height="150" width="150"/>
</div>

