<div class="alert alert-success">
    <label class="form-control">Username</label>
    <input type="text" class="form-control" [(ngModel)]="user.id">
    <label class="form-control">Password</label>
    <input type="password" class="form-control" [(ngModel)]="user.password">
    <label class="form-control">Re-Type Password</label>
    <input type="password" class="form-control" [(ngModel)]="rePassword">
    <label class="form-control">Name</label>
    <input type="text" class="form-control" [(ngModel)]="user.name">
    <button class="btn btn-success" (click)="register()">Register</button>
</div>
